body,p,input{
	padding: 0;
	margin: 0;
}
a{
	color: #484848;
	text-decoration: none;
}
body{
	background-color: #e8e8e8;
	font-family: "Microsoft Yahei";
}
.hidden{
	display: none;
}
ul{
	list-style-type: none;
}


/*具体图片弹窗*/
#bg-shadow{
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: #e8e8e8;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
}
#img-detail{
	width: 800px;
	height: 550px;
	position: fixed;
	z-index: 1000;
	background-color: #272727;
	border-radius: 8px;
	top: 60px;
	box-shadow: 0 0 5px #888888;
	overflow: hidden;
}
	#img-detail .left-angle{
		height: 100%;
		width: 65px;
		text-align: center;
		position: fixed;
	}
	#img-detail .right-angle{
		height: 100%;
		width: 65px;
		text-align: center;
		position: fixed;
		margin-left: 515px;
	}
		#img-detail i{
			font-size: 80px;
			color: #494c4d;
			margin-top: 250px;
			cursor: pointer;
		}
	#img-detail .tag-holder{
		margin-top: 522px;
		position: fixed;
		width: 580px;
		height: 28px;
		background-color: #000;
		filter:alpha(opacity=70);
		-moz-opacity:0.70;
		opacity:0.70;
		border-radius: 8px;
	}
	#img-detail .dt-img{
		width: 580px;
		height: 100%;
		float: left;
		text-align: center;
	}
		#img-detail .dt-img img{
			width: 400px;
		}
	#img-detail .img-mes{
		background-color: #fff;
		width: 220px;
		height: 100%;
		float: right;
	}
		#img-detail .img-mes .user{
			border-bottom: solid 1px #ccc;
			height: 80px;
		}
			#img-detail .img-mes .user img{
				width: 55px;
				margin: 12px;
				float: left;
			}
			#img-detail .img-mes .user span{
				font-size: 25px;
				color: #484848;
				line-height: 80px;
				float: left;
			}




/*首页*/
.bg-can{
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1000;
}
	.bg-can img{
		position: relative;
	}
.submit{
	text-align: center;
	background-image: url(../images/SignIn_Window_small.png);
	background-repeat: no-repeat;
	width: 480px;
	height: 380px;
	color: #a7a6ac;
}
	.submit img{
		padding-top: 35px;
	}
	.submit p{
		color: #fff;
		font-family: "Georgia";
		font-size: 25px;
		margin-top: 15px;
	}
	.submit form{
		margin-bottom: 15px;
	}
		.submit input{
			width: 200px;
			height: 30px;
			margin: 7px 100px;
			border: solid #5a6f7d 1px;
			border-radius: 3px;
		}
		.submit input[type=submit]{
			background-color: #42a8f5;
			color: #fff;
			font-size: 17px;
			line-height: 27px;
		}
	.submit a{
		color: #a7a6ac;
	}




/*导航*/
nav{
	height: 55px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 5px #888888;
}
	nav img{
		margin-left: 30px;
	}
	nav form{
		display: inline-block;
		position: absolute;
		left: 35%;
		top: 15px;
	}
		nav form .search{
			height: 25px;
			width: 350px;
			background-color: #e1e4e4;
			border: none;
			border-radius: 3px;
		}
		nav form .search-button{
			position: relative;
			cursor: pointer;
			right: 32px;
			width: 20px;
			height: 20px;
			display: inline-block;
			text-align: center;
		}
	nav .real-nav{
		display: inline-block;
		float: right;
		margin-top: 15px;
	}
		nav .real-nav a{
			height: 25px;
			display: inline-block;
			line-height: 25px;
			border-radius: 5px;
			width: 25px;
			text-align: center;
			margin-right: 15px;
			padding: 0 3px;
		}
		nav .real-nav a:hover{
			background-color: #e8e8e8;
		}
		nav .real-nav a.user{
			width: auto;
		}



/*个人主页内容*/
@media(min-width: 1091px){
	#home-main{
		width: 100%;
		position: absolute;
	}
}
@media(max-width: 1090px){
	#home-main{
		width: 1100px;
		position: absolute;
	}
}
	#home-main .photo-collapse{
		width: 23%;
		margin: 5px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 5px #888888;
		display: inline-block;
		color: #484848;
		float: left;
		position: absolute;
		margin-top: 10px;
	}
	#home-main .photo-collapse>img{
		width: 100%;
		cursor: pointer;
	}
	#home-main .photo-collapse p{
		width: 100%;
		border-bottom: 1px solid #e8e8e8;
		font-size: 18px;
		padding: 12px 10px; 
		text-align: left;
	}
	#home-main .photo-collapse .mes{
		text-align: left;
		padding: 10px;
		display: inline-block;
	}
		#home-main .photo-collapse .mes a{
			margin-right: 10px;
		}
			#home-main .photo-collapse .mes a img{
				width: 22%;
			}
			#home-main .photo-collapse .mes a.user-name{
				font-size: 20px;
				position: relative;
				bottom: 20px;
				right: 55px;
			}
	#home-main .photo-collapse .like-count{
		display: inline-block;
		position: absolute;
		margin-top: 10px;
		text-align: center;
	}
	#home-main .photo-collapse .like-count{
		right: 20px;
		bottom: 20px;
	}
	#home-main .photo-collapse i{
		font-size: 30px;
		display: block;
	}
	#home-main .photo-collapse span{
		font-size: 13px;
	}


/*个人页面信息部分*/
#personal-mes{
	width: 100%;
	height: auto;
	text-align: center;
}
	#personal-mes .per-bg{
		width: 100%;
		height: 450px;
		position: absolute;
		z-index: -1000;
		left: 0;
	}
	#personal-mes .per-hp{
		margin-top: 150px;
		width: 120px;
	}
	#personal-mes span{
		display: block;
		color: #fff;
		font-size: 35px;
	}
	#personal-mes ul{
		margin: 50px;
	}
		#personal-mes ul li{
			display: inline-block;
			padding-right: 20px;
		}
			#personal-mes ul li i{
				font-size: 43px;
				color: #fff;
				cursor: pointer;
			}
			#personal-mes ul li span{
				font-size: 15px;
			}
	#personal-mes .signature{
		background-color: #fff;
		border-radius: 10px;
		width: 94%;
		margin: auto;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		box-shadow: 0 0 5px #888888;
	}