body,p,input,textarea,fieldset,h3,button{
	padding: 0;
	margin: 0;
}
a{
	color: #484848;
	text-decoration: none;
}
body{
	background-color: #e8e8e8;
	font-family: "Microsoft Yahei";
}
.hidden{
	display: none;
}
ul{
	list-style-type: none;
}
fieldset{
	border: none;
}
::-webkit-scrollbar{width: 12px;background-color: #a5a5a5;}
::-webkit-scrollbar-thumb{background-color: #fff;border: 2px solid #a5a5a5;}


/*具体图片弹窗*/
#bg-shadow{
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: #e8e8e8;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
}
#img-detail{
	width: 800px;
	height: 550px;
	position: fixed;
	z-index: 1000;
	background-color: #272727;
	border-radius: 8px;
	top: 60px;
	box-shadow: 0 0 5px #888888;
	overflow: hidden;
}
	#img-detail .left-angle{
		height: 100%;
		width: 65px;
		text-align: center;
		position: fixed;
	}
	#img-detail .right-angle{
		height: 100%;
		width: 65px;
		text-align: center;
		position: fixed;
		margin-left: 515px;
	}
		#img-detail .left-angle i{
			font-size: 80px;
			color: #494c4d;
			margin-top: 250px;
			cursor: pointer;
		}
		#img-detail .right-angle i{
			font-size: 80px;
			color: #494c4d;
			margin-top: 250px;
			cursor: pointer;
		}
	#img-detail .tag-holder{
		position: absolute;
		bottom: 0;
		width: 580px;
		height: 28px;
		background-color: #000;
		filter:alpha(opacity=70);
		-moz-opacity:0.70;
		opacity:0.70;
	}
	#img-detail .dt-img{
		width: 580px;
		height: 100%;
		float: left;
		text-align: center;
	}
		#img-detail .dt-img img{
			width: 400px;
		}
	#img-detail .img-mes{
		background-color: #fff;
		width: 220px;
		height: 100%;
		float: right;
	}
		#img-detail .img-mes .user{
			border-bottom: solid 1px #ccc;
			height: 80px;
		}
			#img-detail .img-mes .user img{
				width: 55px;
				margin: 12px;
				float: left;
			}
			#img-detail .img-mes .user span{
				font-size: 25px;
				color: #484848;
				line-height: 80px;
				float: left;
			}
		#img-detail .img-mes .des{
			border-bottom: solid 2px #ccc;
			height: 75px;
			overflow: hidden;
		}
			#img-detail .img-mes .des p{
				margin: 10px;
				font-size: 12px;
				line-height: 21px;
			}
			#img-detail .img-mes .des a{
				position: absolute;
				top: 135px;
				right: 10px;
				font-size: 12px;
				width: 30px;
				height: 16px;
				text-align: center;
				border-radius: 4px;
			}
			#img-detail .img-mes .des a:hover{
				background-color: #e8e8e8;
			}
		#img-detail .img-mes .com-count{
			width: 49%;
			text-align: center;
			height: 35px;
			float: left;
			border-right: solid 1px #ccc;
			line-height: 35px;
			cursor: pointer;
		}
		#img-detail .img-mes .like-count{
			width: 49%;
			text-align: center;
			height: 35px;
			float: right;
			line-height: 35px;
			cursor: pointer;
		}
		#img-detail .img-mes .com-count i,#img-detail .img-mes .like-count i{
			font-size: 18px;
			color: #4a4a4a;
		}
		#img-detail .img-mes .com-count span,#img-detail .img-mes .like-count span{
			font-size: 12px;
			color: #4a4a4a;
		}
		#img-detail .img-mes .comments-can{
			height: 245px;
			border-top: solid 3px #ccc;
			border-bottom: solid 1px #ccc;
			clear: both;
			overflow-y: auto;
		}
			#img-detail .img-mes .comments-can .comment{
				border-bottom: 2px solid #ccc;
			}
				#img-detail .img-mes .comments-can .comment img{
					width: 23px;
					height: 23px;
					float: left;
					margin-left: 12px;
					margin-top: 5px;
				}
				#img-detail .img-mes .comments-can .comment span{
					line-height: 23px;
					font-size: 13px;
					margin: 5px;
					float: left;
					font-weight: 700;
				}
				#img-detail .img-mes .comments-can .comment p{
					font-size: 13px;
					clear: both;
					margin-left: 40px; 
					width: 130px;
					display: inline-block;
				}
				#img-detail .img-mes .comments-can .comment a{
					font-size: 12px;
					text-decoration: underline;
					padding-left: 3px;
				}
		#img-detail .img-mes .myCom{
			width: 200px;
			padding: 10px;
		}
			#img-detail .img-mes .myCom textarea{
				width: 100%;
				max-width: 100%;
				height: 60px;
				max-height: 60px;
				border: none;
				background-color: #e8e8e8;
			}
			#img-detail .img-mes .myCom i{
				font-size: 21px;
				color: #484848;
				line-height: 25px;
			}
			#img-detail .img-mes .myCom input{
				width: 105px;
				height: 25px;
				float: right;
				color: #fff;
				background-color: #29abe2;
				border: none;
				font-size: 12px;
			}




/*首页*/
.bg-can{
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1000;
}
	.bg-can img{
		position: relative;
	}
.submit{
	text-align: center;
	background-image: url(../images/SignIn_Window_small.png);
	background-repeat: no-repeat;
	width: 480px;
	height: 380px;
	color: #a7a6ac;
	position: fixed;
}
	.submit img{
		padding-top: 35px;
	}
	.submit p{
		color: #fff;
		font-family: "Georgia";
		font-size: 25px;
		margin-top: 15px;
	}
	.submit form{
		margin-bottom: 15px;
	}
		.submit input{
			width: 200px;
			height: 30px;
			margin: 7px 100px;
			border: solid #5a6f7d 1px;
			border-radius: 3px;
			padding: 0 5px;
		}
		.submit input[type=submit]{
			background-color: #42a8f5;
			color: #fff;
			font-size: 17px;
			line-height: 27px;
		}
		.submit span{
			background-color: #e21100;
			color: #fff;
			height: 20px;
			position: absolute;
			padding: 3px 5px;
			border-radius: 3px;
			right: 140px;
			cursor: default;
			font-size: 13px;
		}
		.submit span.erruser{
			top: 160px;
		}
		.submit span.errpass{
			top: 206px;
		}
	.submit a{
		color: #a7a6ac;
	}




/*导航*/
nav{
	height: 55px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 5px #888888;
}
	nav img{
		margin-left: 30px;
	}
	nav form{
		display: inline-block;
		position: absolute;
		left: 35%;
		top: 15px;
	}
		nav form .search{
			height: 25px;
			width: 350px;
			background-color: #e1e4e4;
			border: none;
			border-radius: 3px;
		}
		nav form .search-button{
			position: relative;
			cursor: pointer;
			right: 32px;
			width: 20px;
			height: 20px;
			display: inline-block;
			text-align: center;
		}
	nav .real-nav{
		display: inline-block;
		float: right;
		margin-top: 15px;
	}
		nav .real-nav a{
			height: 25px;
			display: inline-block;
			line-height: 25px;
			border-radius: 5px;
			width: 25px;
			text-align: center;
			margin-right: 15px;
			padding: 0 3px;
		}
		nav .real-nav a:hover{
			background-color: #e8e8e8;
		}
		nav .real-nav a.user{
			width: auto;
		}



/*个人主页内容*/
@media(min-width: 1091px){
	#home-main{
		width: 100%;
		position: absolute;
	}
}
@media(max-width: 1090px){
	#home-main{
		width: 1100px;
		position: absolute;
	}
}
	#home-main .photo-collapse{
		width: 23%;
		margin: 5px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 5px #888888;
		display: inline-block;
		color: #484848;
		float: left;
		position: absolute;
		margin-top: 10px;
	}
	#home-main .photo-collapse>img{
		width: 100%;
		cursor: pointer;
	}
	#home-main .photo-collapse p{
		width: 100%;
		border-bottom: 1px solid #e8e8e8;
		font-size: 18px;
		padding: 12px 10px; 
		text-align: left;
	}
	#home-main .photo-collapse .mes{
		text-align: left;
		padding: 10px;
		display: inline-block;
	}
		#home-main .photo-collapse .mes a{
			margin-right: 10px;
		}
			#home-main .photo-collapse .mes a img{
				width: 46px;
				height: 46px;
				border-radius: 1000px;
			}
			#home-main .photo-collapse .mes a.user-name{
				font-size: 20px;
				position: relative;
				bottom: 20px;
				right: 55px;
			}
	#home-main .photo-collapse .like-count{
		display: inline-block;
		position: absolute;
		margin-top: 10px;
		text-align: center;
	}
	#home-main .photo-collapse .like-count{
		right: 20px;
		bottom: 20px;
	}
	#home-main .photo-collapse i{
		font-size: 30px;
		display: block;
	}
	#home-main .photo-collapse span{
		font-size: 13px;
	}


/*个人页面信息部分*/
#personal-mes{
	width: 100%;
	height: auto;
	text-align: center;
}
	#personal-mes .per-bg{
		width: 100%;
		height: 450px;
		position: absolute;
		z-index: -1000;
		left: 0;
	}
	#personal-mes .per-hp{
		margin-top: 150px;
		width: 120px;
	}
	#personal-mes span{
		display: block;
		color: #fff;
		font-size: 35px;
	}
	#personal-mes ul{
		margin: 50px;
	}
		#personal-mes ul li{
			display: inline-block;
			padding-right: 20px;
		}
			#personal-mes ul li i{
				font-size: 43px;
				color: #fff;
				cursor: pointer;
			}
			#personal-mes ul li span{
				font-size: 15px;
			}
	#personal-mes .signature{
		background-color: #fff;
		border-radius: 10px;
		width: 94%;
		margin: auto;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		box-shadow: 0 0 5px #888888;
	}

/*个人设置*/
#personal-set{
	background-color: #fff;
	border-radius: 10px;
	width: 94%;
	margin: 20px auto;
	font-size: 20px;
	box-shadow: 0 0 5px #888888;
}
	#personal-set .setting{
		display: inline-block;
		padding: 20px;
	}
		#personal-set .setting>div{
			border-radius: 3px;
			width: 700px;
			margin: 30px 40px;
			border-bottom: 1px solid #d8d8d8;
		}
			#personal-set .setting>div h3{
				font-size: 15px;
				color: #333;
				border-radius: 3px 3px 0 0;
				border-style: solid solid none solid;
				border-color: #d8d8d8 #d8d8d8 #fff #d8d8d8;
				border-width: 1px;
				padding: 10px;
				background-color: #f5f5f5;
			}
			#personal-set .setting>div .avatarImage{
				border-style: solid solid none solid;
				border-color: #d8d8d8 #d8d8d8 #fff #d8d8d8;
				border-width: 1px;
				padding: 10px;
			}
				#personal-set .setting>div .avatarImage label{
					display: block;
					margin-bottom: 20px;
					color: #666;
				}
				#personal-set .setting>div .avatarImage #previewImg{
					height: 150px;
					width: 150px;
				}
				#personal-set .setting>div .avatarImage #up-can{
					cursor: pointer;
					position: relative;
					margin: 18px 38px;
					padding: 7px;
					border-radius: 3px;
					background-color: #eee;
					display: inline-block;
					color: #484848;
					font-size: 15px;
				}
				#personal-set .setting>div .avatarImage #up-can input{
					position: absolute;
					left: 0;
					display: none;
				}
				#personal-set .setting>div .avatarImage input{
					margin-top: 20px;
				}
			#personal-set .setting>div>form{
				border-style: solid solid none solid;
				border-color: #d8d8d8 #d8d8d8 #fff #d8d8d8;
				border-width: 1px;
				padding: 10px;
			}
				#personal-set .setting form input[type=submit]{
					width: 90px;
					height: 25px;
					color: #fff;
					background-color: #29abe2;
					border: none;
					font-size: 12px;
					border-radius: 3px;
					cursor: pointer;
				}
				#personal-set .setting form fieldset{
					font-size: 15px;
					margin-bottom: 10px;
				}
				#personal-set .setting form fieldset label{
					color: #666;
					margin-bottom: 6px;
					display: block;
				}
				#personal-set .setting form fieldset input{
					font-size: 13px;
					width: 300px;
					background-color: #fafafa;
					border: 1px solid #ccc;
					border-radius: 5px;
					padding: 5px;
					display: block;
				}